<section id="culture" class="culture-section">
    <div class="flex-container">
        <a href="https://sneakers-magazine.com/kobe-bryant-9-most-influental-sneakers/" target="_blank"
            class="card-culture">
            <img src="/images/culture-images/kobe-bryant.jpg" width="800" height="400"
                alt="Kobe Bryants with laced shoes around his neck">
            <div class="container">
                <h3>Kobe Bryants 9 Most Influental Sneaker Models</h3>
            </div>
        </a>

        <a href="https://sneakers-magazine.com/nike-x-travis-scott-collab-history/" target="_blank"
            class="card-culture">
            <img src="/images/culture-images/nike-travis-scott-collab.jpg" width="800" height="400"
                alt="Man wearing Nike x Travis Scott Sneaker sitting on sofa">
            <div class="container">
                <h3>A History of Nike x Travis Scott Sneaker Collabs</h3>
            </div>
        </a>

        <a href="https://www.complex.com/sneakers/most-expensive-sneakers/" target="_blank" class="card-culture">
            <img src="/images/culture-images/most-expensive-sneakers-2022.jpg" width="800" height="400"
                alt="Three different shoes with artwork around them">
            <div class="container">
                <h3>The Most Expensive Sneakers of 2022</h3>
            </div>
        </a>

        <a href="https://www.complex.com/sneakers/air-jordan-release-dates/" target="_blank" class="card-culture">
            <img src="/images/culture-images/jordan-release-date.jpg" width="800" height="400"
                alt="Picture of Jordan Shoe">
            <div class="container">
                <h3>A Complete Guide to Air Jordan Release Dates</h3>
            </div>
        </a>

        <a href="https://www.complex.com/sneakers/best-new-sneaker-designs/" target="_blank" class="card-culture">
            <img src="/images/culture-images/new-sneaker-design.jpg" width="800" height="400"
                alt="New Sneaker Designs of 2022">
            <div class="container">
                <h3>The Best New Sneaker Designs of 2022</h3>
            </div>
        </a>

          <a href="https://sneakers-magazine.com/iceberg-rare-nike-collection/" target="_blank" class="card-culture">
            <img src="/images/culture-images/rare-nike-collection.jpg" width="800" height="400"
                alt="Iceberg shoe collector in a warehouse full of shoes">
            <div class="container">
                <h3>Iceberg Showcases 24 Nike Sneakers You Have Never Seen Before</h3>
            </div>
        </a>

          <a href="https://www.complex.com/sneakers/nike-terminates-endorsement-deal-kyrie-irving" target="_blank" class="card-culture">
            <img src="/images/culture-images/kyrie-irving.jpg" width="800" height="400"
                alt="Kyrie Irving">
            <div class="container">
                <h3>Nike Terminates Endorsement Deal With Kyrie Irving</h3>
            </div>
        </a>

          <a href="https://www.complex.com/sneakers/new-balance-basketball-two-wxy-v3" target="_blank" class="card-culture">
            <img src="/images/culture-images/newbalance-basketball.jpg" width="800" height="400"
                alt="Basketball Player">
            <div class="container">
                <h3>The New Balance TWO WXY v3 Has the Whole Court Covered</h3>
            </div>
        </a>


    </div>
</section>